@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body{
  font-family: "Lato", sans-serif;
}
#film_agenda_xl {
    background-color: black;
    background-size: cover;
    height: 100vh;
    padding: 0 var(--main_wrapper);
    padding-top: 110px;
  }
  #agenda-container{
    width: 776px;
    height: 113px;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .agenda-text{
    color: #8B9E51;
<<<<<<< HEAD
=======
    padding-left: 3%;
    font-size: 50px;
>>>>>>> ea31c5dcbc12c11bee19954d74569fd6852223ef
  }