
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap%27');

body{
    font-family: 'Lato' , sans-serif;
}

#container{
    color: white;
    width: 920px;
    height: 350px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 1%;
}
.tekst{
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    margin-top: -26%;
}

